<div class="container">
    <h1 class="display-4">{{SCHOOLNAME}} Tag der offenen Tür</h1>
    <p class="lead">{{SCHOOL_INFOTEXT}}</p>
    <hr class="my-4">
    <p>Wenn Sie sich für eine Führung anmelden wollen, können Sie sich hier einloggen und einen Termin wählen</p>
</div>