<div class="text-center">
    <div style="width:21.5em;" class="mx-auto card text-center">
        <h2>Login</h2>
        <h5>Bitte bestätigen Sie bitte Ihre Email oder Telefonnummer</h5>
        <div id="firebaseui-auth-container"></div>
    </div>
</div>